<#assign ctx=req.getContextPath()>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<link rel="shortcut icon" href="//s1.music.126.net/style/favicon.ico?v20180823" />
<title>网易云任务</title>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"
  integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"
  integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A"
  crossorigin="anonymous"
></script>
<script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
</head>
<body>
	<div class="mdui-container">
		<div class="mdui-row">
		    <div class="mdui-col-md-6 mdui-col-offset-md-3">
				<div class="mdui-card mdui-m-t-5">
					<div class="mdui-tab" mdui-tab>
						<a href="#qr-tab" class="mdui-ripple mdui-tab-active">扫码登录</a>
						<a href="#phone-tab" class="mdui-ripple">账号登录</a>
					</div>
					<div id="qr-tab" class="mdui-p-a-2">
						<div class="mdui-text-center">
							<h4 class="mdui-text-center">使用<a href="https://music.163.com/download">网易云音乐APP</a>扫描二维码登录</h4>
							<input type="hidden" id="sid" value="${sid}">
							<input type="hidden" id="g" value="${g}">
							<input type="hidden" id="unikey">
							<img id="qrCode" src="" />
							<button class="mdui-btn mdui-color-indigo mdui-ripple mdui-text-center mdui-center" type="button" onclick="showQr($('#sid').val(),$('#unikey').val())">点击刷新</button>
						</div>
					</div>
					<div id="phone-tab" class="mdui-p-a-2">
					<form>
					<div class="mdui-textfield mdui-textfield-floating-label mdui-textfield-has-bottom">
						<label class="mdui-textfield-label">手机号或邮箱</label>
						<input id="loginname" class="mdui-textfield-input" name="loginname" type="text" required>
							<div class="mdui-textfield-error">账号不能为空</div>
						</div>
						<div class="mdui-textfield mdui-textfield-floating-label mdui-textfield-has-bottom">
							<label class="mdui-textfield-label">密码</label>
							<input id="pwd" class="mdui-textfield-input" name="password" type="password" required>
							<div class="mdui-textfield-error">密码不能为空</div>
						</div>
						<div class="actions mdui-clearfix">
							<button type="button" class="mdui-btn mdui-btn-raised mdui-color-indigo action-btn" onclick="pwdLogin()">登录</button>
						</div>
						</form>
					</div>
				</div>
		    </div>
		 </div>
	</div>
	<script type="text/javascript">
	var $ = mdui.$;
	initWebsocket();
	showQr($("#g").val(), $("#sid").val(),$("#unikey").val());
	$('.mdui-tab').on('change.mdui.tab', function (inst, data) {
		var status = 0;
		var sid = $("#sid").val();
		var g = $("#g").val();
		var unikey = $("#unikey").val();
		if(data.id == "phone-tab" && unikey != ""){
			//切换到手机号登录，二维码登录失效
			status = 0;
			$.ajax({
			  method: 'GET',
			  url: '${ctx}/api/qr',
			  data: "g="+g+"status="+status+"&sid="+sid+"&unikey="+unikey,
			  success: function (data) {
				var d = JSON.parse(data);
				$("#sid").val(d.sid);
				if(d.qrimg){
					$("#qrCode").attr("src", d.qrimg);
					$("#unikey").val(d.unikey);
				}
			  }
			});
		}else if(data.id == "qr-tab"){
			showQr(g,sid,unikey);
		}
	});
	function showQr(g,sid, unikey){
		var captcha = new TencentCaptcha('1251915089', function(res) {
			if(res.ret == 0){
				$.ajax({
				  method: 'GET',
				  url: '${ctx}/api/qr',
				  data: "g="+g+"status=1"+"&sid="+sid+"&unikey="+unikey,
				  success: function (data) {
					var d = JSON.parse(data);
					$("#sid").val(d.sid);
					if(d.qrimg){
						$("#qrCode").attr("src", d.qrimg);
						$("#unikey").val(d.unikey);
					}
				  }
				});
			}
		});
		captcha.show();
	}
	function pwdLogin(){
		var captcha = new TencentCaptcha('1251915089', function(res) {
			if(res.ret == 0){
				var loginname = document.getElementById("loginname");
				if (loginname.checkValidity() == false) {
				    $("#loginname").parent().addClass("mdui-textfield-invalid-html5");
				}
				var pwd = document.getElementById("pwd");
				if (pwd.checkValidity() == false) {
				    $("#pwd").parent().addClass("mdui-textfield-invalid-html5");
				}
				$.ajax({
					  method: 'POST',
					  url: '${ctx}/api/pwdLogin',
					  data: "g="+$("#g").val()+"&sid="+$("#sid").val()+"&loginname="+loginname.value+"&pwd="+pwd.value,
					  success: function (data) {
						  var d = JSON.parse(data);
						  if(d.code == 200){
							  location.href = '${ctx}/task/'+d.userid;
						  }else{
							  if(d.msg){
								  mdui.snackbar({
								  message: d.msg
								});
							  }else{
								  mdui.snackbar({
								  message: '登录失败'
								});
							  }
						  }
					  }
				});
			}
		});
		captcha.show();
	}
	function initWebsocket(){
		if(typeof(WebSocket) == "undefined") {  
			console.error("您的浏览器不支持WebSocket");  
		}else{  
			socket = new WebSocket("ws://"+window.location.host+"/websocket/"+$("#sid").val()); 
			socket.onopen = function() {  
			};  
			socket.onmessage = function(msg) {
				var d = eval('(' + msg.data + ')');
				if(d.code == 803){
					location.href = "${ctx}/login?sid="+$("#sid").val();
				}else if(d.code == 800){
					mdui.snackbar({
					  message: '二维码已过期'
					});
				}
			};  
			socket.onclose = function() {  
				console.log("Socket已关闭");  
			};  
			socket.onerror = function() {  
				console.log("Socket发生了错误");  
			};
		}
	}
	</script>
</body>
</html>