<#assign ctx=req.getContextPath()>
<#setting datetime_format="yyyy-MM-dd HH:mm:ss"/>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<link rel="shortcut icon" href="//s1.music.126.net/style/favicon.ico?v20180823" />
<title>${record.bean.uname}-网易云任务</title>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"
  integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"
  integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/libsgh/n-c-m-job@master/src/main/resources/static/material/index.441d941d.css">
</head>
<body class="mdui-drawer-body-left">
<div class="mdui-appbar-with-toolbar mg-app">
	<div class="mc-appbar mdui-appbar mdui-appbar-fixed">
	  <div class="toolbar mdui-toolbar">
	    <button class="drawer mdui-btn mdui-btn-icon mdui-ripple" mdui-drawer="{target: '#main-drawer', swipe: true}">
	      <i class="mdui-icon material-icons">menu</i>
	    </button>
	    <a class="headline" href="/">网易云任务</a>
	    <div class="title">${record.bean.uname}</div>
	    <div class="mdui-toolbar-spacer"></div>
	    <div class="login mdui-btn mdui-btn-dense" onclick="location.href='${ctx}/logout'">退出登录</div>
	  </div>
	</div>
	<div class="mc-drawer mdui-drawer" id="main-drawer">
		<ul class="mdui-list">
			<#list record.mus as mu>
			  <li class="mdui-list-item mdui-ripple <#if mu.userid == record.bean.userid>mdui-list-item-active</#if>" onclick="javascript:location.href='${ctx}/task/${mu.userid}'">
			    <div class="mdui-list-item-avatar"><img src="${mu.avatarurl}"/></div>
			    <div class="mdui-list-item-content">
			      <div class="mdui-list-item-title">${mu.uname}</div>
			    </div>
			  </li>
			</#list>
		</ul>
		<div class="copyright">
			<p>© 2021 网易云任务</p>
			<p>Powered by Libs</p>
		</div>
	</div>
	<div id="page-user" class="mdui-container">
		<div class="user mdui-card mdui-card-shadow">
			<div class="mc-loading mdui-hidden">
				<div class="mdui-spinner">
					<div class="mdui-spinner-layer ">
						<div class="mdui-spinner-circle-clipper mdui-spinner-left">
							<div class="mdui-spinner-circle"></div>
						</div>
						<div class="mdui-spinner-gap-patch">
							<div class="mdui-spinner-circle"></div>
						</div>
						<div class="mdui-spinner-circle-clipper mdui-spinner-right">
							<div class="mdui-spinner-circle"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="info" style="margin-top: 55px">
				<div class="avatar-box">
					<img src="${record.bean.avatarurl}" class="avatar">
				</div>
			<div class="profile fold">
				<div class="meta username mdui-text-color-theme-text">${record.bean.uname}</div>
					<div class="meta">
						<i class="mdui-icon material-icons mdui-text-color-theme-icon" mdui-tooltip="{content: '签名', delay: 300}">credit_card</i>
						<div class="">${record.bean.signature!''}</div>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="follow">
					<button class="followees mdui-btn mdui-text-color-theme-secondary">动态 ${record.bean.eventcount}</button>
					<div class="divider"></div>
					<button class="followers mdui-btn mdui-text-color-theme-secondary">关注 ${record.bean.follows}</button>
					<div class="divider"></div>
					<button class="followees mdui-btn mdui-text-color-theme-secondary">粉丝 ${record.bean.followeds}</button>
				</div>
				<div class="flex-grow"></div>
			</div>
		</div>
		<div class="contexts mdui-card">
			<div class="mdui-tab" mdui-tab>
				<a href="#level-tab" class="mdui-ripple">我的等级</a>
				<a href="#task-tab" class="mdui-ripple">我的任务</a>
			</div>
			<div id="level-tab" class="mdui-p-a-2">
				<div class="mdui-typo mdui-m-l-5 mdui-m-b-5">
					<p><strong>累计听歌： </strong><span class="mdui-text-color-red" style="font-size: 25px"><#if record.bean.level lt 10>${record.bean.linstencount}<#else>已达满级，无需刷歌</#if></span></p>
					<p><strong>当前等级： </strong><span class="mdui-text-color-red" style="font-size: 25px">LV.${record.bean.level}</span></p>
					<#if record.bean.level lt 10>
						<p><strong>距离下一等级： </strong><span class="mdui-text-color-red" style="font-size: 25px">LV.${record.bean.level}</span></p>
						<p><strong>还需登录</strong></p>
						<div class="mdui-progress mdui-m-b-2" style="width: 80%">
						  <div class="mdui-progress-determinate" style="width: 30%;"></div>
						</div>
						<p><strong>还需听歌</strong></p>
						<div class="mdui-progress mdui-m-b-2" style="width: 80%">
						  <div class="mdui-progress-determinate" style="width: 30%;"></div>
						</div>
					</#if>
				</div>
			</div>
			<div id="task-tab" class="mdui-p-a-2">
				<div class="mdui-typo mdui-m-l-5 mdui-m-b-5">
					<p><strong>今日听歌： </strong><span class="mdui-text-color-deep-purple-900" style="font-size: 25px">${record.bean.dailycount}</span></p>
					<p>
						<strong>签到： </strong>
						<span class="mdui-text-color-deep-purple-900" style="font-size: 25px">
							移动+3、桌面+2
						</span>
					</p>
					<p>
						<strong>云贝： </strong>
						<span class="mdui-text-color-deep-purple-900" style="font-size: 25px">
							+ ${record.bean.yunbei}
						</span>
					</p>
					<p><strong>完成时间： </strong><span class="mdui-text-color-deep-purple-900" style="font-size: 25px"><#if record.bean.finishtime??>${record.bean.finishtime?c?number?number_to_datetime}<#else>-</#if></span></p>
				</div>
			</div>
		</div>
	</div>
</div>
<button class="mdui-fab mdui-fab-fixed mdui-fab-extended mdui-ripple mdui-color-theme" onclick="location.href='${ctx}/logout?g=${record.bean.groupid}'"><i class="mdui-icon material-icons">add</i><span>绑定</span></button>
<script type="text/javascript">
var $ = mdui.$;
</script>
</body>
</html>